h1 {
    font-family: 'Questrial', sans-serif;
}

body {
    padding-top: 1vh;
    padding-left: 2vw;
}

#NavBar {
    font-family: 'Julius Sans One', sans-serif;
}

#NavBar a:link, a:visited {
    color: black;
    text-decoration: none;
}

#NavBar a:hover {
    color: lightgray;
    text-decoration: none;
}


